<html class="js touch  csstransforms csstransforms3d csstransitions" lang="en-GB"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>

  <title>GEL-KAYANO 22 | asics.co.uk</title>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="title" content="">
  <meta name="description" content="This shoe has racked up more than 20 years of success on the road, helping overpronators stay stable and comfortable over long distances. The GEL-KAYANO hugs your feet and cushions the impact to make your 26th mile as comfortable as your first.">

  <meta name="keywords" content="">
  <style type="text/css"></style><meta name="robots" content="index,follow">
    <meta itemprop="brand" content="ASICS">
    <meta itemprop="manufacturer" content="ASICS">
    

    <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
    <meta property="og:description" content="This shoe has racked up more than 20 years of success on the road, helping overpronators stay stable and comfortable over long distances. The GEL-KAYANO hugs your feet and cushions the impact to make your 26th mile as comfortable as your first.">

  <link rel="shortcut icon" type="image/x-icon" href="/_ui/desktop/common/images/favicon.ico">
  
  <meta property="og:image" content="http://www.asics.co.uk/medias/sys_master/images/9592560549918/logo-hybris.png">
    <meta property="og:site_name" content="">
  
  <link rel="stylesheet" href="http://www.asics.co.uk/_ui/desktop/theme-asics-aeb/css/asics.less?v=7dd4c9a012b41fe8abd73f24e379109c"><link rel="stylesheet" media="print" href="http://www.asics.co.uk/_ui/desktop/theme-asics-aeb/css/asics-print.less?v=7dd4c9a012b41fe8abd73f24e379109c">




        <div id="page" ng-app="AsicsStore" ng-controller="App" ng-init="sites({isAac: '', isAeb: '', isAebGb: 'true', isAop: '', isAjp: '', isEur: 'true'});" class="ng-scope">

      <header role="banner">

  <div id="top">
    <div class="wrap">

      <nav id="secondary" role="navigation">

        <div id="search" class="ui-widget">

          <form name="search_form" method="get" action="/search" role="search" class="ng-pristine ng-valid">
            <label class="skip" for="search">Search</label>
            <input id="search_query" class="text ui-autocomplete-input" type="text" name="text" value="" maxlength="100" placeholder="Search..." autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input class="button" type="submit" value="Search" src="/" alt="Search">
            </form>
          <li id="autocomplete_more_button" class="close" style="display: none;"><a id="more_button" class="button alternate" href="#">More</a></li>
        </div>

                <ul id="account_store" data-gtm="[{'event': 'loginFinished', 'existingCustomer': false}, 
                 {'event': 'notifyCriteo','customerid': ''}]">
          <li>
            <a href="/store-finder">Store Locator</a>
          </li>
          <li>
            <a href="/my-account">
              My Account</a>
          </li>
          <li><a href="https://my.asics.com/" title="MY ASICS" target="_new" data-ga-data-layer-promotion-impression="[{'componentId':'pM2QlY3AEB','componentName':'url-enabled-MY ASICS - 520p7', 'creative':'https://my.asics.com/'}, {'trackAnalytics':'false'}]">MY ASICS</a></li>
          <li><div class="content"></div></li>
          </ul>

            <ul id="external_sites">
              <li>
                <a id="tiger_link" href="http://www.asicstiger.com/" class="icon" title="" target="_new"></a>
              </li>
              <li>
                <a id="onitsuka_tiger_link" href="http://www.onitsukatiger.com/" class="icon" title="" target="_new"></a>
              </li>
              </ul>
        </nav>

    </div>
  </div>

  <nav id="primary" role="navigation">

    <div id="lead">
      <div class="wrap">

        <div id="site_logo">
          <div class="simple_banner" data-ga-data-layer-promotion-impression="[{'componentId':'62DmdOpAEB','componentName':'Site Logo Component - A1pw6', 'creative':''}, {'trackAnalytics':'false'}]">
  <a href="/"><img title="Asics IE" alt="Asics IE" src="http://www.asics.co.uk/medias/sys_master/images/9592560549918/logo-hybris.png"></a>
    </div></div>

        <ul id="areas" class="level_1">
  <li class="active" id="comp_000034Q5">
          <a href="javascript:void(0);" class="panel_link">
            <span>Men</span>
      </a>
        </li>
      <li class="active" id="comp_000034PL">
          <a href="javascript:void(0);" class="panel_link">
            <span>Women</span>
      </a>
        </li>
      <li class="active" id="comp_000034Q4">
          <a href="javascript:void(0);" class="panel_link">
            <span>Kids</span>
      </a>
        </li>
      <li class="active" id="SportsBarComponent">
          <a href="javascript:void(0);" class="panel_link">
            <span>All Sports</span>
      </a>
        </li>
      <li id="LifestyleBarComponent">
          <a href="/lifestyle" data-ga-data-layer-promotion-impression="[{'componentId':'','componentName':'', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Lifestyle">
      Lifestyle</a>
  </li>
      </ul>
      </div>
    </div>
    </div>

       
        


<div id="content" class="main" role="main">
        <div class="wrap">
          <nav id="breadcrumb" role="navigation">
  <ol>
    <li>
      <a href="/">Home</a>
    </li>
    <li class="">
        <span>GEL-KAYANO 22</span>
          </li>
    </ol>

  </nav>


<header id="page_header">
      <div class="contents">
        <h1>GEL-KAYANO 22<span></span></h1>
      </div>
    </header>
  <ul class="global_messages">
  <li class="message_error step_1">There were errors in the information you provided below. Please check the fields highlighted in red, and re-enter the correct information.</li>
  <li class="message_error step_2">Please check your payment details are correct or provide a different payment method.</li>
  <li class="message_error step_2_tscs">You must confirm that you have read and agreed to the ASICS Terms and Conditions</li>
  <li id="ajpNameBytes" class="message_error step_1 step_2 ajp">address.error.formentry.namebytes.invalid</li>
  <li id="ajpAddressBytes" class="message_error step_1 ajp">address.error.formentry.addressbytes.invalid</li>
  <li id="ajpAddressBytesB" class="message_error step_2 ajp">address.error.formentry.addressbytesB.invalid</li>
</ul><section id="feature">
    </section>
  <section>

<div class="content slide" style="">
  {{call .raw .page.Section1}} 
 </div>
<br>
      <div class="item editorial editorial_carousel focal">

  <div class="carousel multi fade dynamic ng-scope active" ng-controller="ProductsData" data-carousel="" data-carousel-page-items="3" data-carousel-page-width="1170" data-product-codes="[0010248197.0790, 0010248200.9030, 0010248201.1087]">
    <div class="viewport">
      <div class="slides" style="width: 1170px;">
    {{range .products}}
    <article class="product ng-scope" >

          <div class="image">
            <a class="image_link" ng-href="/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790" data-ga-data-layer-product-click="[{
              &quot;productid&quot;:&quot;0010248197.0790&quot;, 
              &quot;style-code&quot;:&quot;T547N&quot;, 
              &quot;gender&quot;:&quot;Men&quot;,
              &quot;stock&quot;:&quot;yes&quot;
              },
              {&quot;href&quot;:&quot;/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790&quot;
            }]" href="/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790">
              <img src="http://127.0.0.1:9001{{.Picture.DownloadURL}}" style="display: block;">
            </a>
            <h4 class="badge">NEW</h4>
          </div>

          <div class="content">
            <h3 class="name"><a ng-href="/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790" class="ng-binding" href="/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790">{{.Name}}</a></h3>
            <ul class="pricing">
              <li class="price ng-binding">£{{.Price.Price}}</li>
            </ul>
            <h4 class="product_type ng-binding">Men Running Shoes</h4>
            <p class="summary ng-scope ng-binding" ng-if="product.standfirstDescription">Your number 1 shoe for going the distance</p>
          </div>

          <div class="actions join">
            <a ng-href="/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790" class="button" style="width: 81px;" href="/Shop/Shoes/Running/Men/GEL-KAYANO-22/p/0010248197.0790">Find out more</a>
            <!-- ngIf: product.purchasable --><a data-product-code="0010248197.0790" href="#" class="button highlight ng-scope" ng-if="product.purchasable" data-quick-shop="" data-ga-data-layer-quickshop-impression="[{
              'name': 'GEL-KAYANO 22',
              'id': '0010248197.0790',
              'price': '', 
              'category': 'shoes-running-men (Men-Running-Shoes)',
              'variant': 'フラッシュイエロー×ブラック',
              'shoe-pronation': '',
              'gender':'Men',
              'stock':'yes',
              'style-code': 'T547N'
            }, 
            {'currency': 'GBP'}]">
              Quick Buy</a>
          </div>
        </article>
      {{end}}
      </div>
    </div>
  </div>
</div>
</section>

</div>
      </div>

      <footer role="contentinfo">

  <div id="bottom">
    <div class="wrap">
            <nav id="tertiary" role="navigation">
        <div class="backToTop">
                      <a href="#"><span class="icon"></span>Back to top</a>
                  </div>                
              <ul class="level_1">
          <li class="level_1" style="min-height: 260px;">
              <ul class="level_2 first_of_row">
                <li class="level_2">
                    <span>SHOP:</span>
      </li>
                <li class="level_2">
                    <a href="/Shoes/cat/Shoes" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Shoes">
      Shoes</a>
  </li>
                <li class="level_2">
                    <a href="/Clothing/cat/Clothing" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Clothing">
      Clothing</a>
  </li>
                <li class="level_2">
                    <a href="/Accessories/cat/Accessories" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Accessories">
      Accessories</a>
  </li>
                <li class="level_2">
                    <a href="/Men/cat/GenderMen" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Men's">
      Men's</a>
  </li>
                <li class="level_2">
                    <a href="/Women/cat/GenderWomen" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Women's">
      Women's</a>
  </li>
                <li class="level_2">
                    <a href="/Kids/cat/GenderKids" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Kids">
      Kids</a>
  </li>
                </ul>
            </li>
          <li class="level_1" style="min-height: 260px;">
              <ul class="level_2 first_of_row">
                <li class="level_2">
                    <span>CUSTOMER SERVICE:</span>
      </li>
                <li class="level_2">
                    <a href="/contact" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Contact ASICS">
      Contact ASICS</a>
  </li>
                <li class="level_2">
                    <a href="/returns" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Returns information">
      Returns information</a>
  </li>
                <li class="level_2">
                    <a href="/delivery-info" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Delivery information">
      Delivery information</a>
  </li>
                <li class="level_2">
                    <a href="/faq" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="FAQ">
      FAQ</a>
  </li>
                <li class="level_2">
                    <a href="/shoe-size-guide" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Shoe size guide">
      Shoe size guide</a>
  </li>
                <li class="level_2">
                    <a href="/shoe-width-guide" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Shoe width guide">
      Shoe width guide</a>
  </li>
                <li class="level_2">
                    <a href="/clothing-size-guide" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Clothing size guide">
      Clothing size guide</a>
  </li>
                <li class="level_2">
                    <a href="/cancellation-form" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Cancellation form">
      Cancellation form</a>
  </li>
                </ul>
            </li>
          <li class="level_1" style="min-height: 260px;">
              <ul class="level_2 first_of_row">
                <li class="level_2">
                    <span>CORPORATE:</span>
      </li>
                <li class="level_2">
                    <a href="/about-asics" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="About ASICS">
      About ASICS</a>
  </li>
                <li class="level_2">
                    <a href="/history" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="History">
      History</a>
  </li>
                <li class="level_2">
                    <a href="/back-catalogue" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Back Catalogue">
      Back Catalogue</a>
  </li>
                <li class="level_2">
                    <a href="/disclaimer" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Disclaimer">
      Disclaimer</a>
  </li>
                <li class="level_2">
                    <a href="/privacy-policy" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Privacy Policy">
      Privacy Policy</a>
  </li>
                <li class="level_2">
                    <a href="/cookie-policy" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Cookie Policy">
      Cookie Policy</a>
  </li>
                <li class="level_2">
                    <a href="/terms-conditions" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Terms and Conditions">
      Terms and Conditions</a>
  </li>
                <li class="level_2">
                    <a href="http://corp.asics.com/en/csr" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Corporate Responsibility" target="_blank">
      Corporate Responsibility</a>
  </li>
                <li class="level_2">
                    <a href="http://jobs.asics.eu" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="Careers">
      Careers</a>
  </li>
                <li class="level_2">
                    <a href="/retailers-terms-and-conditions" data-ga-data-layer-promotion-impression="[{'componentId':'7mWonjbAEB','componentName':'FooterComponent - MbE4r', 'creative':''}, {'trackAnalytics':'false'}]" class=" linkComponent" title="     ">
           </a>
  </li>
                </ul>
            </li>
          </ul>
      </nav>

        <div id="newsletter_signup">
            <h3>Email newsletter</h3>
            <form class="newsletter_signup_form ng-pristine ng-valid" action="/json/newsletter/signup.json" novalidate="">
              <ol>
                <li>
                  <label>Email address</label>
                  <input name="email" class="text" type="email" placeholder="Email address">
                </li>
              </ol>
              <div class="buttons">
                <input class="button  auto" type="submit" value="Sign Up">
              </div>
              <div class="message_container">
                <a id="unsubscribe_link" href="/json/newsletter/unsubscribe.json">Unsubscribe</a>
              </div>
            </form>
            <p>Signup to our newsletter and receive special offers and exclusive news about our products</p>

          </div>
        <div id="social_links_container">
          <p>Follow us on</p>
          <ul id="social_links">
            <li><a href="https://twitter.com/ASICSeurope" class="icon icon_twitter" title="Twitter" target="_new" data-ga-data-layer-promotion-impression="[{'componentId':'8dr7Ea5AEB','componentName':'Twitter link - 72bzr', 'creative':'https://twitter.com/ASICSeurope'}, {'trackAnalytics':'false'}]">Twitter</a></li>
            <li><a href="https://www.facebook.com/ASICSEUROPE" class="icon icon_facebook" title="Facebook" target="_new" data-ga-data-layer-promotion-impression="[{'componentId':'jEdjDn7AEB','componentName':'Facebook link - ABj72', 'creative':'https://www.facebook.com/ASICSEUROPE'}, {'trackAnalytics':'false'}]">Facebook</a></li>
            <li><a href="http://www.youtube.com/ASICSvideo" class="icon icon_youtube" title="YouTube" target="_new" data-ga-data-layer-promotion-impression="[{'componentId':'EPGY6RvAEB','componentName':'YouTube link - mYnoO', 'creative':'http://www.youtube.com/ASICSvideo'}, {'trackAnalytics':'false'}]">YouTube</a></li>
            <li><a href="https://instagram.com/asicseurope/" class="icon icon_instagram" title="Instagram" target="_new" data-ga-data-layer-promotion-impression="[{'componentId':'n8Mq71oAEB','componentName':'Instagram Link - qdwbn', 'creative':'https://instagram.com/asicseurope/'}, {'trackAnalytics':'false'}]">Instagram</a></li>
            <li><a href="/contact" class="icon icon_email" title="Contact ASICS" data-ga-data-layer-promotion-impression="[{'componentId':'MML4qRpAEB','componentName':'Contact ASICS Link - Kz28e', 'creative':'/contact'}, {'trackAnalytics':'false'}]">Contact ASICS</a></li>
            </ul>
        </div>

                <div id="payment_wrap">
                    <div id="verisign_info">
                      <dl>
                <dt class="logo_verisign"></dt>
                <dd>ASICS.co.uk is secure.</dd>
                        <dd>We protect your personal details at all times.</dd>
                        </dl>   
                      </div>
                    <div id="card_logos">
                        <dl>
                          <dt>We accept</dt>
                          <dd class="payment_icons payment_logo_visa"></dd>
                          <dd class="payment_icons payment_logo_postepay"></dd>
                          <dd class="payment_icons payment_logo_mastercard"></dd>

              <dd class="payment_icons payment_logo_maestro"></dd>
              <dd class="payment_icons payment_logo_paypal"></dd>
              </dl>
                    </div>
                </div>
            <div class="site_payments">
        </div>

    </div>
  </div>

  <div id="end">
    <div class="wrap">

      <div id="trademark">
        <p>The stripe design featured on the sides of ASICS shoes is a trademark of ASICS Corporation and is a registered trademark in most countries of the world</p>
      </div>
  
      <div id="copyright">
        <p><span class="icon icon_shoe"></span>© 2015 ASICS Europe</p>
      </div>

            <div id="website_country" class="closed">
        <span class="flag" style="background: url('http://www.asics.co.uk/medias/sys_master/images/8852241514526/web-site-flags.png') -720px 0;"></span>
        <span id="country-name">United Kingdom<span id="country-arrow" class="country-arrow-down"></span></span>
      </div>
      </div>
    <div class="footer_stretch" style="height: 0px; clear: both;"></div>
  </div>
  


  <!-- This is a way of hiding footer markup in new checkouts for all countries using the simplified header -->
    <div id="country_select">
      <div id="countrySelector" class="wrap" style="">

        <div class="backToTop">
          <a href="#"><span class="icon"></span>Back to top</a>
        </div>  
        
        <div id="lightBox">
          <!-- <div class="logoAsics"></div>   -->  
          <h2>Please choose your country and language</h2>
          <!-- <div id="closeCountryPanel" class="changeLanguage">
            <a href="">Close</a>
          </div> -->
          <div class="country_listings">
            <div>
              <h3>Europe</h3>
              <ul>
                <li>
                    
                      <a href="http://www.asics.at/">Austria</a>
                    </li>
                  <li>
                    
                      <a href="http://nl.asics.be/">Belgium</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.bg/">Bulgaria</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.cz/">Czech Republic</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.dk/">Denmark</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.ee/">Estonia</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.fi/">Finland</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.fr/">France</a>
                    </li>
                  </ul>
                      <ul>
                    <li>
                    
                      <a href="http://www.asics.com/de/de-de/">Germany</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.gr/">Greece</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.hu/">Hungary</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.ie/">Ireland</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.it/">Italy</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.lv/">Latvia</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.lt/">Lithuania</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.nl/">Netherlands</a>
                    </li>
                  </ul>
                      <ul>
                    <li>
                    
                      <a href="http://www.asics.no/">Norway</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.pl/">Poland</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.pt/">Portugal</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.ro/">Romania</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.ru/">Russian Federation</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.rs/">Serbia</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.sk/">Slovakia</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.es/">Spain</a>
                    </li>
                  </ul>
                      <ul>
                    <li>
                    
                      <a href="http://www.asics.se/">Sweden</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.ch/">Switzerland</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.com.tr/">Turkey</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.co.uk/" style="font-weight: bold;">United Kingdom</a>
                    </li>
                  <li>
                    
                      <a href="http://www.asics.co.za">South Africa</a>
                    </li>
                  </ul>
            </div>
            <div>
              <h3>Americas</h3>
              <ul>
                <li>
                      <a href="http://www.asicsamerica.com/">United States</a>
                    </li>
                  <li>
                      <a href="http://www.asics.com.br/">Brazil</a>
                    </li>
                  <li>
                      <a href="http://asicscanada.com/">Canada</a>
                    </li>
                  </ul>
            </div>
            <div>
              <h3>Asia &amp; Oceania</h3>
              <ul>
                <li>
                      <a href="http://www.asics.com.au/">Australia</a>
                    </li>
                  <li>
                      <a href="http://www.asics.com.cn/">China</a>
                    </li>
                  <li>
                      <a href="http://www.asicsindia.in/">India</a>
                    </li>
                  <li>
                      <a href="http://www.asics.co.jp/">Japan</a>
                    </li>
                  <li>
                      <a href="http://www.asics.co.kr/">Korea, Republic of</a>
                    </li>
                  <li>
                      <a href="http://www.asics.co.nz/">New Zealand</a>
                    </li>
                  <li>
                      <a href="http://www.asics.com.sg/">Singapore</a>
                    </li>
                  <li>
                      <a href="http://www.asics.com.tw/">Taiwan</a>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><div class="content"><p style="margin:0"><style type="text/css">
hr
{
  margin-bottom: 15px;
}
</style></p></div><div class="content"><p style="margin:0"><style type="text/css">
header#page_header h1 {
    margin-bottom: 0;
}
header#page_header {
    padding-bottom: 10px;
}
form.search ol.facet_listing li.facet h3 {
    margin-bottom: 5px;
}
form.search ol.facet_listing li {
    margin: 0 0 2px;
}



</style></p></div><div class="content"><p><style type="text/css">
#account_store > li:nth-child(4) {display:none;}
</style></p></div><div class="content"><p style="margin:0"><style type="text/css">

#FR-SaleBarComponent, #FR-SaleBarComponent > a > span, #UK-SaleBarComponent, #UK-SaleBarComponent > a > span, #NL-SaleBarComponent, #NL-SaleBarComponent > a > span, #DE-SaleBarComponent, #DE-SaleBarComponent > a > span, #ES-SaleBarComponent, #ES-SaleBarComponent > a > span, #IT-SaleBarComponent, #IT-SaleBarComponent > a > span
{
  color: #3DB7E4;
}

</style>

</body></html>